@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-text: #000000;
    --color-background: #fce9f3;
    --color-primary: #e5429b;
    --color-secondary: #5A5353;
    --color-accent: #fce9f3;

}


img {
    @apply rounded-2xl shadow-xl mb-6 object-cover;
}